.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 620px;
  height: 600px;
}

.grid .square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.mole {
  background: url('./mole.jpg');
  background-size: cover;
}
